audiomentations>=0.37.0
ipython==8.12.3
keras==3.6.0
librosa==0.10.1
matplotlib==3.8.2
numpy==1.26.2
pandas==2.2.3
scikit_learn==1.6.0
scipy<1.13
seaborn==0.13.2
silero_vad==5.1.2
sounddevice==0.5.0
soundfile==0.12.1
tensorflow==2.18.0
tqdm==4.66.1
